.is-2-column {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #f5f5fa;
}
.widget {
  background-color: rgba(255,255,255,0.812);
}
#toc {
  align-self: flex-start;
  position: -webkit-sticky;
  position: sticky;
  top: 0.75rem;
}
